@import url(https://fonts.googleapis.com/css?family=Edu+SA+Beginner:regular,500,600,700);
@import 'tailwindcss';

@theme {
  --color-bodyBgFrom: #c2f5e0;
  --color-bodyBgTo: #f7aeb5;

  --font-eduBeginner: 'Edu SA Beginner', cursive;
}

button,
input[type='file'] {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
  display: none;
}
